{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Product update Page{% endblock %}

{% block content %}

<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h3>Edit Item</h3>
            <hr>
            <form method="POST">
                
                {% csrf_token %}
                {{ form|crispy }}
                <a class="btn btn-secondary btn-sm" href="{% url 'dashboardproduct' %}">Cancel</a>
                <input class="btn btn-info btn-sm" type="submit" value="Update">
            </form>
        </div>
    </div>
</div>
{% endblock %}